* {
    padding: 0px;
    margin: 0px;
    word-break: break-word;
    box-sizing: border-box;
}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, tt, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
li{
    list-style: none;
}
body{
    overflow-x: hidden;
    line-height: 1.5;
    background-color: #121212;
}
h2 {
    display: block;
    font-size: 1.5em;
    font-family: "Microsoft Yahei",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",Helvetica,Arial,"PingFang SC","Hiragino Sans GB","Microsoft Yahei UI","Source Han Sans CN",sans-serif;
}

/* 修改滚动条的宽度 */
::-webkit-scrollbar {
    width: 6px; /* 修改滚动条宽度（适用于Chrome和Safari） */
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #926369 0%, #2c4475 60%, #a07053 90%);
    /* background: linear-gradient(180deg, #FFEB3B 0%, #00BCD4 60%, #ffe503 90%); */
    border-radius: 999px;
}
::-webkit-scrollbar-track {
background-color: #f0f0f000; /* 修改滚动条轨道的颜色 */
}

@font-face {
    font-display: swap;
    font-family: "iconfont-modown";
    src: url('./iconfont.woff2') format('woff2'), url(../../../../../../../../themes/modown/static/fonts/iconfont.woff?t=1670406005090) format('woff'), url(../../../../../../../../themes/modown/static/fonts/iconfont.ttf?t=1670406005090) format('truetype')
}

.icon {
    font-family: "iconfont-modown" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    top: 1px
}
.hideH{
    display: none;
}



.top {
    position: relative;
    width: 100vw;
    height: 300px;
    background-image: url('https://gitcode.net/2301_78006839/wxpj/-/raw/master/img/520game/bg.jpg?inline=false');
    background-position: center;
    background-size: cover;
}

.top::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, .38) 0, rgba(0, 0, 0, .38) 3.5%, rgba(0, 0, 0, .379) 7%, rgba(0, 0, 0, .377) 10.35%, rgba(0, 0, 0, .375) 13.85%, rgba(0, 0, 0, .372) 17.35%, rgba(0, 0, 0, .369) 20.85%, rgba(0, 0, 0, .366) 24.35%, rgba(0, 0, 0, .364) 27.85%, rgba(0, 0, 0, .361) 31.35%, rgba(0, 0, 0, .358) 34.85%, rgba(0, 0, 0, .355) 38.35%, rgba(0, 0, 0, .353) 41.85%, rgba(0, 0, 0, .351) 45.35%, rgba(0, 0, 0, .35) 48.85%, rgba(0, 0, 0, .353) 52.35%, rgba(0, 0, 0, .36) 55.85%, rgba(0, 0, 0, .371) 59.35%, rgba(0, 0, 0, .385) 62.85%, rgba(0, 0, 0, .402) 66.35%, rgba(0, 0, 0, .42) 69.85%, rgba(0, 0, 0, .44) 73.35%, rgba(0, 0, 0, .46) 76.85%, rgba(0, 0, 0, .48) 80.35%, rgba(0, 0, 0, .498) 83.85%, rgba(0, 0, 0, .515) 87.35%, rgba(0, 0, 0, .529) 90.85%, rgba(0, 0, 0, .54) 94.35%, rgba(0, 0, 0, .547) 97.85%, rgba(0, 0, 0, .55));
    z-index: 9;
}

.topContain {
    width: 96%;
    max-width: 515px;
    padding: 0 15px;
    margin: 0 auto;
    position: absolute;
    top: calc(50% + 20px);
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 10;
}

.top h2 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
    letter-spacing: 2px;
    color: #fff;
}

.top p {
    font-size: 16px;
    color: #888;
}

.search-form{
    margin: 30px auto 0;
    box-sizing: content-box;
    position: relative;
    width: 95%;
    margin-top: 20px;

}
.search-input {
    text-indent: 15px;
    width: 100%;
    height: 44px;
    line-height: 44px;
    font-size: 16px;
    display: block;
    font-family: "Microsoft YaHei";
    border: none;
    border-radius: 10px;
    color: #333;
    outline: none;
    font-style: inherit;
    font-weight: inherit;
}
.search-btn {
    appearance: none;
    -webkit-appearance: none;
    position: absolute;
    font-size: 16px;
    border: none;
    display: inline-block;
    cursor: pointer;
    background: transparent;
    top: 8px;
    right: 15px;
}

.icon {
    font-family: "iconfont-modown" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    font-size: 24px;
    top: 1px;
}
.icon-search:before {
    content: "\e8c4";
}

.search-keywords{
    margin-top: 10px;
    margin-left: 15px;
    text-align: left;
    font-size: 14px;
    color: #e4c5b5;
}
.search-form .search-keywords a {
    font-size: 12px;
    line-height: 1;
    display: inline-block;
    margin: 0 3px;
    border-radius: 6px;
    cursor: pointer;
    padding: 5px 10px;
    background: rgba(0,0,0,.2);
    border: 1px solid hsla(0,0%,100%,.2);
    color: #fff!important;
    text-decoration: none;
}

.main{
    width: 100vw;
    height: auto;
    padding-bottom: 30px;
    background-color: #121212;
}
.content{
    width: 100%;
    height: auto;
    padding-top: 50px;
}
.container{
    width: 90%;
    height: auto;
    margin: auto;
}
.container h2{
    text-align: center;
    font-size: 18px;
    position: relative;
    font-weight: normal;
    letter-spacing: 2px;
    color: #999;
}
.container h2::before{
    content: " ";
    width: 20px;
    height: 3px;
    background-color: #14b268;
    position: absolute;
    left: 0;
    top: 45px;
    margin-left: calc(50% - 10px);
    border-radius: 1.5px;
}
.container-nav{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}
.container-nav li{
    display: inline-block;
    margin: 0 3px;
    margin-bottom: 6px;
}
.container-nav a{
    padding: 4px 10px;
    font-size: 12px;
    text-decoration: none;
    color: #888;
}
.container-nav a:hover{
    cursor: pointer;
    color: #14b268;
}
a.active{
    color: #14b268;
    position: relative;
}
a.active::before{
    content: "";
    width: 5px;
    height: 5px;
    background-color: #14b268;
    position: absolute;
    left: 50%;
    top: 30px;
    transform: translateX(-50%);
    border-radius: 50%;
}

.container-cards{
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.container-card{
    width: 49%;
    height: auto;
    margin: 7px 0;
    border-radius: 5px;
    background-color: #303030;
    color: #777;
    overflow: hidden;
    padding: 2px;
    padding-bottom: 6px;

    box-shadow: 0 0 15px rgba(0,0,0,.075);
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: all .3s ease 0s;
}
.container-card:hover{
    transform: translateY(-6px);
}
.card-free{
    user-select: none;
    position: absolute;
    font-size: 14px;
    color: #fff;
    padding: 1px 10px;
    background-color: #14b268;
    background: linear-gradient(to right, #14b268,#1495b2);
    border-radius: 10px;
    top: 16px;
    right: 16px;
}
.con-card-img{
    display: inline-block;
    background-position: center;
    background-size: cover;
    width: 100%;
    border-radius: 5px;
    padding-top: 150%;
    background-color: #14b268;
}
.con-card-classifyList{
    display: flex;
    flex-wrap: wrap;
}
.con-card-classifyList a:hover{
    color: #ccc;
}
.con-card-classify{
    padding: 12px 0px 0 12px;
    display: block;
    font-size: 12px;
    color: #777;
    margin-left: 16px;
    height: 27px;
    position: relative;
}
.con-card-classify a{
    color: #999;
    text-decoration: none;
}
.con-card-classify2{
    padding: 12px 0px 0 8px;
    display: block;
    font-size: 12px;
    color: #777;
    margin-left: 16px;
    height: 27px;
    position: relative;
}
.con-card-classify2 a{
    color: #999;
    text-decoration: none;
}
.con-card-classify a::after{
    content: " ";
    width: 4px;
    height: 4px;
    display: block;
    border-radius: 15px;
    position: relative;
    left: -12px;
    top: -13px;
    border: 2px solid #14b268;
}
.con-card-classify2 a::after{
    content: " ";
    width: 4px;
    height: 4px;
    display: block;
    border-radius: 15px;
    position: relative;
    left: -12px;
    top: -13px;
    border: 2px solid #1495b2;
}


.container-card h3{
    font-size: 15px;
    font-weight: 400;
    margin: 12px 12px;
    position: relative;
}
.container-card h3 a{
    text-decoration: none;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    color: #e5e5e5;
    font-weight: bolder;
    height: 20px;
    -webkit-line-clamp: 1;
}
.time-row{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    padding: 0 12px;
}
.time-contain::before{
    font-family: "iconfont-modown" !important;
    content: '\E8EB';
    font-size: 14px;
    color: #5173b7;
    margin-right: 4px;
}
.capacity-contain::before{
    font-family: "iconfont-modown" !important;
    content: '\E8BC';
    color: #68bfb2;
    font-size: 14px;
    margin-right: 4px;
}
.time-contain a{
    color: #999;
    text-decoration: none;
}
.capacity-contain a{
    color: #999;
    text-decoration: none;
}

.more{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 15px;
}
.more a{
    display: inline-block;
    padding: 10px 80px;
    text-decoration: none;
    background-color: #14b268;
    transition: all 0.3s;
    color: #fff;
    border-radius: 50px;
}
.more a:hover{
    padding: 10px 60px;
    background-color: #208b59;
}

.pageBar{
    width: 90%;
    /* background-color: #d98021; */
    margin: 20px auto 40px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.pageItem{
    width: auto;
    height: 24px;
    padding: 0 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2c2c2c;
    color: #bababa;
    font-size: 13px;
    margin: 5px;
    border-radius: 4px;
    cursor: pointer;
}
.pageItem:hover{
    color: #fff;
    background-color: #14b268;
}
.pageItemActive{
    color: #fff;
    background-color: #14b268;
}
#pageInput{
    width: 40px;
    height: 24px;
    margin: 5px 4px;
    border-radius: 4px;
    border: none;
    outline: none;
    padding-left: 4px;
}
#pageInput:hover{
    border: solid #14b268 1px;
}
#toPageBtn{
    width: auto;
    padding: 0 6px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2c2c2c;
    color: #bababa;
    font-size: 13px;
    margin: 5px;
    border-radius: 4px;
    cursor: pointer;
}
#toPageBtn:hover{
    color: #fff;
    background-color: #14b268;
}



.footer {
    display: block;
    background-color: #333;
    color: #ccccdd;
    font-size: 12px;
    line-height: 1.7em;
    padding: 20px;
    text-align: center;
    letter-spacing: 1px;
}

#randomText{
    height: 1.7em;
}             


.friendLinks ul{
    display: inline-block;
    list-style-type: circle;
}
.friendLinks ul li{
    display: inline-block;
    list-style: circle;
}
.friendLinks ul li a{
    display: inline-block;
    text-decoration: none;
    color: #ccccdd;
}
.friendLinks ul li a:hover{
    display: inline-block;
    text-decoration: none;
    color: #ccccdd;
}
.friendLinks ul li::before{
    content: '';
    width: 4px;
    height: 4px;
    margin: 0 .5em;
    border-radius: 50%;
    display: inline-block;
    background: #ccccdd;
    vertical-align: .2em;
}

#busuanzi_value_site_uv{
    display: none;
}


@media (max-width: 450px) {
    .card-free{
        user-select: none;
        position: absolute;
        font-size: 12px;
        color: #fff;
        padding: 1px 7px;
        border-radius: 10px;
        top: 10px;
        right: 10px;
    }
    .con-card-classify{
        padding: 12px 0px 0 2px;
        display: block;
        font-size: 12px;
        color: #777;
        margin-left: 16px;
        height: 27px;
        position: relative;
    }
    .con-card-classify a{
        color: #999;
        text-decoration: none;
    }
    .con-card-classify2{
        padding: 12px 0px 0 4px;
        display: block;
        font-size: 12px;
        color: #777;
        margin-left: 16px;
        height: 27px;
        position: relative;
    }
    .con-card-classify2 a{
        color: #999;
        text-decoration: none;
    }
    .con-card-classify a::after{
        content: " ";
        width: 4px;
        height: 4px;
        display: block;
        border-radius: 15px;
        position: relative;
        left: -12px;
        top: -13px;
        border: 2px solid #14b268;
    }
    .con-card-classify2 a::after{
        content: " ";
        width: 4px;
        height: 4px;
        display: block;
        border-radius: 15px;
        position: relative;
        left: -12px;
        top: -13px;
        border: 2px solid #1495b2;
    }
    
    .time-row{
        padding: 0px;
        font-size: 12px;
    }
    .time-contain::before{
        font-size: 12px;
        margin-right: 2px;
    }
    .capacity-contain::before{
        font-size: 12px;
        margin-right: 2px;
    }

    .container-card h3{
        font-size: 13px;
        font-weight: 400;
        margin: 12px 2px;
        position: relative;
    }
    .container-card h3 a{
        text-decoration: none;
        line-height: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        color: #e5e5e5;
        font-weight: bolder;
        height: 20px;
        -webkit-line-clamp: 1;
    }

    .footRow{
        font-size: 12px;
    }
}
@media (min-width: 520px) {
    .container-card{
        width: 49%;
    }
    .container h2{
        font-size: 24px;
    }
    .container-nav a{
        font-size: 14px;
    }
}
@media (min-width: 770px) {
    .container{
        width: 80%;
    }
    .top{
        height: 360px;
    }
    .topContain {
        padding:0;
        max-width: 800px;
    }
    .topContain h2{
        font-size: 35px;
    }
    .search-input{
        text-indent: 35px;
        height: 48px;
        line-height: 48px;
    }
    .search-btn {
        top: 10px;
        right: 20px;
    }
    .search-keywords{
        margin-top: 15px;
        margin-left: 20px;
    }
    .container-card{
        width: 32%;
    }
}
@media (min-width: 1030px) {
    .container-card{
        width: 24%;
    }
}
@media (min-width: 1230px) {
    .top{
        height: 400px;
    }
}