@font-face {
    font-display: swap;
    font-family: "iconfont-modown";
    src: url('./resource/iconfont.woff2') format('woff2');
}

.modal {
    display: none;
    user-select: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 318px;
    height: auto;
    z-index: 999;
    background-color: #232323;
    border: 1px solid #000000;
}

.modalTitle {
    padding: 0 80px 0 20px;
    height: 42px;
    line-height: 42px;
    border-bottom: 1px solid #ffffff12;
    font-size: 14px;
    color: #ddd;
    overflow: hidden;
    border-radius: 2px 2px 0 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.drag-bar {
    width: 100%;
    height: auto;
    background-color: #272727;
    cursor: move;
    position: relative;
}

.close-btn {
    font-family: "iconfont-modown";
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
    color: #ddd;
}

.close-btn::before {
    content: '\E61E';
}

.window-body {
    padding: 10px;
    box-sizing: border-box;
    height: auto;
}

.randomGameName {
    position: relative;
    padding: 20px;
    line-height: 24px;
    word-break: break-all;
    overflow: hidden;
    font-size: 14px;
    color: #eee;
    overflow-x: hidden;
    overflow-y: auto;
}

.randomGameRow {
    position: relative;
    text-align: right;
    padding: 0 15px 12px;
}

.randomGameCk {
    text-decoration: none;
    display: inline-block;
    background-color: #14b268;
    color: #fff;
    height: 28px;
    line-height: 28px;
    margin: 5px 5px 0;
    padding: 0 15px;
    border: 1px solid #1effa1;
    border-radius: 2px;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.3s;
}
.randomGameCk:hover{
    text-decoration: none;
    color: #fff;
    border-radius: 6px;
}
.returnRandom{
    height: 28px;
    line-height: 28px;
    margin: 5px 5px 0;
    padding: 0 15px;
    border: 1px solid #dedede;
    background-color: #fff;
    color: #333;
    border-radius: 2px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
}
.returnRandom:hover{
    text-decoration: none;
}